<div class="login-container">
  <div class="row" style="width: 100%">
    <div class="row">
      <div class="col-10">
        <h2>Nombres</h2>
        <p>{{ customerResult.FirstName }}</p>
      </div>
      <div class="col-2">
        <button>Editar</button>
      </div>
    </div>
    <div class="row">
      <div class="col-10">
        <h2>Apellidos</h2>
        <p>{{ customerResult.LastName }}</p>
      </div>
      <div class="col-2">
        <button>Editar</button>
      </div>
    </div>
    <div class="row">
      <div class="col-10">
        <h2>Email</h2>
        <p>{{ customerResult.EMail }}</p>
      </div>
      <div class="col-2">
        <button>Editar</button>
      </div>
    </div>
    <div class="row">
      <div class="col-10">
        <h2>Documento</h2>
        <p>{{ customerResult.PersonalId }}</p>
      </div>
      <div class="col-2">
        <button>Editar</button>
      </div>
    </div>
    <div class="row">
      <div class="col-10">
        <h2>Teléfono</h2>
        <p>{{ customerResult.TelNumber1 }}</p>
      </div>
      <div class="col-2">
        <button>Editar</button>
      </div>
    </div>
  </div>
</div>
